<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền liên quan đến báo thức -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Cấp quyền chạy lại báo thức sau khi thiết bị khởi động lại -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Quyền ghi âm -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Quyền mạng -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- AndroidManifest.xml -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sunny"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sunny"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather2"
        tools:targetApi="31">

        <!-- MQTT Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name=".Mqtt.MqttHandler"
            tools:ignore="Instantiatable" />
        <!-- MainActivity -->
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".Utils.VoiceCommandActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Transparent">
        </activity>

        <service
            android:name=".Notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>